.cardClass {
  color: Black;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding-bottom: px;
  padding-top: 10px;
  border: 5px solid black;
  font-family: Helvetica;
  text-align: center;



}
